APCA_API_BASE_URL=
APCA_API_KEY_ID=
APCA_API_SECRET_KEY=
APCA_PAPER_KEY_ID=
APCA_PAPER_SECRET_KEY=
APCA_PAPER_BASE_URL=
APCA_PAPER_ACCOUNT_ID=
IBKR_ACCOUNT_ID=
IBKR_GATEWAY_URL=
BROKER=
DISCORD_WEBHOOK=
DISCORD_WEBHOOK_URL=
DASH_PASSWORD=
DASH_AUTO_REFRESH_SECONDS=
SNIPER_TRADES_PATH=
